# Python / Django
venv/
**/venv/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.sqlite3-journal
media/
staticfiles/

# Node / Next.js
node_modules/
**/node_modules/
.next/
**/.next/
out/
build/
dist/

# Environment variables & secrets
.env
**/.env
.env.local
.env.*.local

# Binaries & executables
*.exe
*.dll

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo
